@import url('https://use.typekit.net/gou8rmq.css');
@import 'bootstrap/dist/css/bootstrap.css';
@import '../src/assets/styles/components/header.css';
@import '../src/assets/styles/components/mainPage.css';
@import '../src/assets/styles/components/createDao.css';
@import '../src/assets/styles/components/daoDetail.css';
body{
  color: #292D32;
  font-family: 'regulator-nova',sans-serif;
  background: url("../public/dashboard.svg")no-repeat;
  background-size:cover;
}
button{
  border:none;
  outline:none;
  width: max-content;
  padding: 0.75rem;
  border-radius: 0.25rem;
  background:transparent;
}
.main{

}
input:focus{
  box-shadow: none!important;
}
input::placeholder{
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 30px */
letter-spacing: -0.38px;
color: rgba(41, 45, 50, 0.5);
}
